
# temporary files
.rpt2_cache/

# Visual Studio Code configurations
.vscode/

# source code
lib/
.github/
.editorconfig
rollup.config.js

# website
pages/
next-env.d.ts
tsconfig.json
tsconfig.lib.json
